.container {
  margin-top: 100px;
  padding-bottom: 100px;
}

.askContainer {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.askItem {
  min-width: 290px;
  max-width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #605e9d;
  padding: 20px;
  margin-top: 35px;
  border-radius: 15px;
  cursor: pointer;
}

.AskItemText {
  font-size: medium;
  font-weight: 600;
  word-wrap: break-word;
}

.askText {
  width: 50vw;
  padding: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #576a9a;
  margin-left: 10%;
  border-radius: 20px;
  cursor: default;
  margin-bottom: 20px;
}

.text {
  font-size: larger;
  font-weight: 600;
  color: white;
  margin-right: 25px;
}

.modalWindow {
  width: 80vw;
  height: max-content;
  min-height: 400px;
  position: absolute;
  background-color: beige;
  z-index: 1;
  left: 10vw;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelSvg {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: x-large;
  cursor: pointer;
}

@media (max-width: 835px) {

  .askContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .askItem {
    min-width: 80%;
    max-width: 80%;
  }
}

@media (max-width: 800px) {
  .modalWindow {
    left: 8vw;
  }
}

@media (max-width: 600px) {
  .askContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .askText {
    padding: 5% 8%;
    max-width: 90vw;
  }

  .modalWindow {
    left: 6vw;
    min-height: 300px;
  }
}

@media (max-width: 420px) {
  .askText {
    width: 70vw;
  }
}
